*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
}
/* NavBar */

nav{
    background-color: black;
    display: flex;
    padding: 0% 1%;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.nav_links{
    flex:1;
    text-align: left;
}
.nav_links ul li{
    list-style: none;
    display: inline-block;
    padding: 9px 12px;
    position: relative;
}
.nav_links ul li a{
    color:white;
    text-decoration: none;
    font-size: 15px;
}
.nav_links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav_links ul li:hover::after{
    width:100%;
}
@media (max-width: 700px){
    .nav_links{
        position: absolute;
        text-align: right;
        background-color: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
    .nav_links ul li{
        display:block;
    }
}

/* .navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    height: 35px;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 10px 0px;
}
.navbar ul li:nth-child(1){
    display: flex;
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    height: 35px;
    background-color: #0db46f;
}
.navbar ul li i:nth-child(1){
    margin-right: 15px;
}
.search{
    display: flex;
    justify-content: flex-end;
    color: white;
    background-color: black;
}
.search li{
    display: flex;
    justify-content: flex-end;
}
.navbar ul li{
    display: flex;
    font-family: century;
    font-size: 0.9rem;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: #fff;
    color: black;
    box-shadow: 0 0 10px white;
}
.dropdwon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    margin-bottom: 2px;
    text-decoration: none;
    font-size: 0.9rem;
    font-family: century;
    color: #fff;
}
.dropdwon span{
    margin-left: 5px;
} */

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: center;
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    background: url('../assets/Images/Guadalupes-gypsum-view-FOR-WEB.jpg') no-repeat center center/cover;
    height: 250px;
    width: 100%;
    z-index: -1;
}
.main{
    display: flex;
    margin-top: 170px;
}
.headings{
    font-size: 1.5rem;
    margin: 10px;
    padding: 4px 10px ;
    background-color: black;
    border: 5px solid black;
}
/* Our Team Section */


.ourTeam {
    margin: 20px 10px;
    color: black;
  }
  
  .Team {
    font-size: 30px;
    margin: 10px 0px 20px;
  }
  .teamText{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 10px;
  }
  
  .profiles {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    flex-basis: 260px;
  }
  
  .profile .profile-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    cursor: pointer;
    transition: 400ms;
  }
  
  
  .user-name {
    margin-top: 30px;
    font-size: 35px;
    margin: 0px 0px 20px 10px
  }
  
  .profile h5 {
    display: flex;
    justify-content: center;
    margin:0px 45px 20px 0px; 
    font-size: 18px;
    font-weight: 50;
  }
  
  @media only screen and (max-width: 1150px) {
    .profiles {
      flex-direction: column;
    }
    .profile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .profile p {
      text-align: center;
      margin: 20px 60px 80px 60px;
      font-size: 20px;
    }
    .user-name, .profile h5{
        margin: 0px 45px 30px 50px;
    }
  }
  
  @media only screen and (max-width: 900px) {
    .Team {
      font-size: 40px;
      text-align: center;
    }
  
    .profiles {
      margin: 20px 0;
    }
  
    .profile p {
      margin: 20px 10px 80px 10px;
    }
  }
  


/* Our Work Section */
#ourWork{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10px 50px;
    width: 100%;
    height: 500px;
    background-color: rgba(7, 6, 6, 0.9);
}
.ourWorkText{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    color: white;
    padding: 10px;
}
.ourWorkText p{
    height: 100%;
    margin-top: 20px;
    color: white;
}
.card{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 5px;
}
.card-image{
    height: 200px;
    margin-bottom: 15px;
    background-size: cover;
}
.card-1{
    background-image: url('./assets/Images/ice\ Mountain.jpg');
}
.card-2{
    background-image: url('./assets/Images/northern\ lights.jpeg');
}
.card-3{
    background-image: url('./assets/Images/mountains_clouds.jpg');
}
.card h2, .card h1, .card ul li{
    list-style: none;
    margin: 5px 5px 10px;
}
.description{
    width: 100px;
}
@media screen and (max-width: 768px){
    #ourWork{
        flex-direction: column;
        height: 100%;
    }
    .card{
        width: 100%;
    }

}
/*  */
.plus{
    position: relative;
    display: flex;
    justify-content: flex-end;
    background-color:#e4e1e1;
}
.plus i{
    position: relative;
    top:-25px;
    background-color: #fff;
    border-radius: 50%;
    color: #0db46f;
    margin-right: 15px;
    font-size: 45px;
}
/* Contact Us */
.contactUs{
    padding: 20px;
    background-color: #e4e1e1;
    height: 450px;
}
.contactUs .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
.contactUs .container h1{
    position: relative;
    color: black;
    font-weight: 500;
    margin-bottom: 15px;
    
}
.container h1::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 110px;
    height: 5px;
    background: #0db46f;
}
.contactUs h2,p{
    margin: 15px 0px 15px;
}
/* Address */
.info{
    position: relative;
    margin-top: 10px;
}
.secaboutus{
    margin-top: 25px;
}
.secaboutus p {
    color: black;
}
.info li{
    display: flex;
    margin-bottom: 16px;
    color: #111;
}
.info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px; 

}
.info li span{
    color: black;
}
.info li a{
    color: black;

}
.info li span i{
    color: #0db46f;

}

/* Form */
.form{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 5px 8px 5px #888888;
    width: 800px;
    height: 310px;
    margin-top: 25px;

}
form .text_field{
    border-bottom: 2px solid #adadad;
    margin: 20px 10px 0px;
}
.text_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.checkbox{
    width: 20%;
    margin: 10px 5px 10px;
}
.btns{
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}
.btn{
    position: relative;
    top:-35px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    margin-right: 10px;
    height: 35px;
    width: 10%;
}
@media only screen and (max-width: 900px){
    .contactUs{
        height: 100%;
        width: 100%;
        margin-bottom: 25px;
    }
}

/* Footer */
footer{
    bottom: 0;
    height: auto;
    background-color:black;
    flex-wrap: wrap;
    color: white;
    padding-top:40px ;
}
.followUs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.box{
    transition: all .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0db46f ;
    width: 40px;
    height: 30px;
    margin: 0px 2px ;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 5px 10px ;
}
.socials li a i{
    padding: 10px;
    transition: all .5s ease;
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
}
.followUs ul .box:hover{
    background-color: #fff;
    color: black;
    box-shadow: 0 0 10px white;
}
.socials li a i:hover{
    color: #000;
}





@media screen and (min-width:374px){
    .header{
        width: 100%;
        height: 100%;
    }
    
}

/* phone resopnive */

/* @media (max-width: 601px){
    .contactUs .form{
        padding: 40px;
        background-color: white;
        width: 100%;
        display: inline-block;
    }
    .contactUs .container .form{
        flex-direction: column;
    }
    .contactUs .container .secaboutus .form{
        margin-right: 0;
        margin-bottom: 30px;
    }
    .contactUs .container .secaboutus .form{
        width: 100%;
    }
    
} */


/* login */
